.graph
{
  background-color: #efefef;
  width: 600px;
  height: 440px;
}

.smallTxt
{
  font-family: Arial, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.bolded
{
  font-weight: bold;
}

input
{
  margin: .5rem;
  width: 50px;
}

td
{
  padding: 4px;
  text-align: left;
  vertical-align: top;
}

.controls
{
  font-family: Arial, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  font-size: 13px;
}
